@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotomedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Avenir medium";
  src: url("../fonts/Avenir-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Avenir heavy";
  src: url("../fonts/AvenirHeavy.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
